<!DOCTYPE html>
<html lang="en">

  <head>

    <title>EDI PROJECT</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
      <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body><body bgcolor="#F2F2F2">
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">

            <h1><span>A</span>ttendance <span>Management </span>System </h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Mark Attendance</a></li>
            <li><a href="#hero" data-after="Home">Take Image</a></li>
            <li><a href="#hero" data-after="Home">Edit Profile</a></li>

            <li><a href="#about" data-after="Projects">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <body>


  </body>

</html>
