{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="{%static 'admin/css/style.css' %}" />
    <script>
      setTimeout(function(){
        if ($('#msg').length > 0) {
          $('#msg').remove();
        }
      }, 2000)
    </script>
  </head>
  <body>
    <div class="about-section">
      <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
          This is an ATTENDANCE SYSTEM developed for better convinance of
          student and teachers. we provide digitally storage of attendance. Only
          authorised user can access data. It is fully secured.If you have any
          Query , Contact us through <b>Contact Us </b>page
        </p>
        <h2>Team Members</h2>
        <br /><br />
        
        <div class="members">
          <span>1.PRAJWAL ACHAWALE<br /><br /><br />2.ABHIJEET PATIL</span>
          <span>3.PRATHMESH SWAMI<br /><br /><br />4.KAIWALYA KULKARNI</span>
          <span>5.KARAN RATHOD<br /><br /><br />6.ANIKET MORE</span>
        </div>
        
      </div>
    </div>
    
  </body>
</html>
