
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>View</title>
    <link rel="stylesheet" href="{% static 'admin/css/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/index.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
            <script>
              setTimeout(function(){
                if ($('#msg').length > 0) {
                  $('#msg').remove();
                }
              }, 2000)
            </script>
  </head>
<style>
  .signUp-login {
    margin: 0 0 0 20px;
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  .signUp-login a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
  }
</style>
  <body>
    {% include 'auth/message.html' %}
    <header>
      <a href="/" class="logo">
        Attendance Management system</a>
      <!-- {% if request.user.is_staff %}

      <a class="logout" href="/desplayAttendance">Today's Attendance</a>

      {% else %}

      <a class="" href="/desplayAttendance">My Attendance</a>

      {% endif %}
      <h3><a class="logout" href="/logout/">Logout</a></h3> -->
      <h3 class="signUp-login">
        {% if request.user.is_staff %}
        <a class="pad" href="/desplayAttendance"> Show Attendance</a>
        {% else %}

        <a class="pad" href="/MarkAttendance"> Mark Attendance</a>
        <a class="pad" href="/TakeImage"> Take Image</a>
        <a class="pad" href="{% url 'profile' user.id %}">Edit Profile</a>
        {% endif %}
        <a class="pad" href="/logout"> Logout</a>
        <!-- <a class="pad" href="/logout"> Logout</a> -->
      </h3>
    </header>

    <main>
      <div class="graphics">
        <img
          src="{% static 'images/faceimage.gif' %}"
          alt=""
          width="550px" height="460px"
        />
      </div>

      <div class="profile-info">
        <div class="user-profile-image-box">
         
            {% if request.user.is_staff %}
            <label for="img"
              ><img
                src="{{request.user.userprofile.image.url}}"
                width="100" height="100"
            /></label>
            <input
              style="visibility: hidden; width: 0; height: 0"
              type="image"
              id="img"
              name="img"
            />
            {% else %} {% if request.user.userprofile.image.url %}
            <img
              src="{{request.user.userprofile.image.url}}"
              width="100" height="100"
            />

            {% else %}
            <p>No image available.</p>
            {% endif %} {% endif %}
            
        </div>

        <div class="user-info">
          <div class="label-data">
            <div class="label">Name</div>

            <div class="data">{{user.first_name}}</div>
          </div>

          <div class="label-data">
            <div class="label">PRN Number</div>

            <div class="data">{{user.username}}</div>
          </div>

          <div class="label-data">
            <div class="label">Class</div>

            <div class="data">{{user.last_name}}</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
